.darkCard{
    background-color: #1a1c20 !important;
    color: #f9813a !important;
    transition: all 1s;
}
.darkCard:hover{
    transform: scale(1.01);

}
.lightCard{
    background-color: #f8f0e5 !important;
    transition: all 1s;
}
.lightCard:hover{
    transform: scale(1.01);
}
.MuiCardMedia-media {
    width: 30% !important;
    display: inline !important
  
}
.MuiPaper-root{
    color: #F9813A !important;
    
}
.MuiButton-root{
    color: #f8f0e5!important;
    background-color: #F9813A !important;
    padding:5px
}
@media only screen and (max-width: 600px) {
    .MuiCardMedia-media {
        width: 40% !important;
    }
    .script{
        display: none
    }
}
