.App {
  text-align: center;
  margin: 0;
  padding:0;
  background-color: #1a1c20;
  overflow: hidden;
}

.App-light{
  text-align: center;
  margin: 0;
  padding:0;
  background-color: #f8f0e5;
  overflow: hidden;
}