.contact-form{
    width:40%;
    position: relative;
    padding: 20px;
}
.email-form-intake{
  padding: 5px !important;
  width:80%;
}
.submit-button{
  text-align: right;
  width:80%;
  margin:0 !important 
}
@media only screen and (max-width: 600px) {
      .contact-form{
        width:75%;
        margin: auto;
    }
  }